/* Light green: #7ed56f;
Medium green: #55c57a;
Dark green: #28b485;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.801),
        rgba(40, 180, 133, 0.801) ),
    url(hero.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;

    clip-path: polygon(0 0,100% 0, 100% 80%, 0 100% );
}

.logoBox {
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo {
    height: 35px ;
}
.textBox{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.headingPrimary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}
.headingPrimaryMain{
    display: block;
    font-size: 60px;
     font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.headingPrimarySub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17px;
    margin-bottom: 60px;
    
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn:link, .btn:visited {
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btnHeader {
    background-color: #fff;
    color: #777;
    animation: moveBottom 1s ease-out .8s backwards;
    
}

.btnHeader:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btnHeader:active { 
    transform: translateY(-1px );
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4S;
}

.btnHeader::after{
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.section-about {
    background-color: #f7f7f7;
    padding: 15rem 10rem;
    margin-top: -20vh;
    height: 130vh;
}

.headingSec {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text; 
    color: transparent;
     background-clip: text;
    transition: all .2s;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.headingSec:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0,0,0,.2);
}

.uCenter{
    text-align: center; 
}

.row{    
    max-width: 114rem;
    margin: 0 auto;
}

.col-1-of-2{
    width: calc((100% - 2.5rem)/2);
    float: left;
}

.col-1-of-2:not(:last-child){
    margin-right: 2rem;
}
.mgBtm8{
    margin-bottom: 8rem;
}
.headingT{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.aboutPara{
    font-size: 1rem;
}
.aboutPara:not(:last-child){
    margin-bottom: 2rem;
}
.btnCheck:link, .btnCheck:visited {
    color:#28b485;
    display: inline-block;
    text-decoration: none;
    padding:10px;
    font-weight: 600;
    border-bottom: 2px solid #28b485;
    transition: all .2s;
}
.btnCheck:hover{ 
    background-color:#28b485;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15);

}
.btnCheck:active { 
    transform: translateY(-1px );
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}

.composition{
    position: relative;
}
.composition .photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    outline-offset: .5rem;
    transition: all .2s;
}
.photo--p1{
    left: 0;
    top: -2rem;
}
.photo--p2{
    right: 0;
    top: 3rem;
}
.photo--p3{
    left: 7rem;
    top: 10rem;
}

.photo:hover{
   outline: 5px solid #28b485;
   transform: scale(1.05) translateY(-.5rem);
   box-shadow: 0 2.5rem 4rem rgba(0,0,0,.5);
   z-index: 2;
   
}

.composition:hover .photo:not(:hover){
    transform: scale(.95);
}

.features{
    padding: 4rem 10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.801),
        rgba(40, 180, 133, 0.801) ),
    url(nat-4.jpg);
    background-size: cover;
    margin-top: -7rem; 
   
    transform: skewY(-7deg);
    height: 110vh;
}
.features > *{
    transform: skewY(7deg);
    
}
.col-1-of-4{
    width: calc((100% - 17rem)/4);
    float: left;
    
}
.col-1-of-4:not(:last-child){
    margin-right: 5rem;
}
.feature-box{
    background-color:#f7f7f7;
    font-size: 1rem;
    padding: 2rem;
    height: 30em;
    text-align: center;
    border-radius: 3px;
    transition: all .3s;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}
.feature-box:hover{
    transform: scale(1.05) translateY(-.5rem);
   box-shadow: 0 2.5rem 4rem rgba(0,0,0,.5);        
}
.icon{
    font-size: 4rem;
    margin-bottom: .3rem;
    display: inline-block;
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    transition: all .2s;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    }
    
.icon:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.tours {
    background-color: #f7f7f7;
    padding: 15rem 10rem 1rem;
    margin-top: -7rem;
    
}
.col-1-of-3{
    width: calc((100% - 10rem)/3);
    float: left;
}
.col-1-of-3:not(:last-child){
    margin-right: 5rem;
}

.card{
    height: 32rem;
    position: relative;    
    perspective: 150rem;
    -moz-perspective: 150rem;
}
.card-side{
    height: 32rem;
    transition: all .8s ease;
    text-align: center;
    color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.2);
}
.front{
    background-color: #fff;
    color: #000;
}
.back{
    background-color: #28b485;
    transform: rotateY(180deg); 
}
.card:hover .front{
    transform: rotateY(-180deg);
}
.card:hover .back{
    transform: rotateY(0deg);
}
.orange-card{
    background-image: linear-gradient(to right bottom, #ffb900,#ff7730);

}
.blue-card{
    background-image: linear-gradient(to right bottom, #2998ff ,#5643fa);
}
.green-card{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.front-img{
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100% );
}

.img1{
    background-image:linear-gradient(to right bottom, #ffb900,#ff7730), url(nat-5.jpg);
}

.img2{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(nat-6.jpg);
}

.img3{
    background-image: linear-gradient(to right bottom, #2998ff ,#5643fa), url(nat-7.jpg);
}

.front-heading{
    font-size: 2rem;
    font-weight: 300;
    text-transform:uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 7rem;
    right: 2rem;
    width: 65%;
     
}
.span-card{
    padding: 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.span-card1{
    background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.85), rgba(255, 120, 48, 0.85));
}
.span-card2{
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.span-card3{
    background-image: linear-gradient(to right bottom, hsla(209, 100%, 58%, 0.85) ,hsla(246, 95%, 62%, 0.85));
}

.front-details{
    padding: 1rem 3rem;
}
.card-list{
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}
.li{
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
    color: #777;

}
.li:not(:last-child){
    border-bottom: 1px solid #f7f7f7;
}
.cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price-box{
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;
}
.card-price{
    text-transform: uppercase;
    font-size: 2rem;
}
.card-btn{
    background-color: #fff;
    color: #777;
    text-transform: uppercase;
}
.card-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.card-btn:active { 
    transform: translateY(-1px );
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-value{
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.btncolor{
    background-color: #28b485;
    color: #fff;
    margin-top: 10rem;
}

.stories{
    padding: 10rem 0;
    background-color: transparent;
    position: relative;
}
.row{
    margin: 10rem auto;
}
.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.1);
    background-color: #ffffff80;
    border-radius: 3px;
    padding: 4rem;
    font-size: 1.6rem;
    padding-left: 9rem;
    

    transform: skewX(-12deg);
}
.story > * {
    transform: skewX(12deg); 
} 
.story-text-para{
    font-size: 1rem;
    padding: 5rem;
    padding-top: 1.5rem;
    text-align: justify;
}
.story-shape{
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: #ff7730;
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); ;
    position: relative;
}
.story-image{
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;

}
.story-caption{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,25%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;

    transition: all 0.5s;
    backface-visibility: hidden;
}
.story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%,-50%);
}
.story:hover .story-image{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.bg-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 10%;
    object-fit: cover;
    overflow: hidden;
}

.booking{
    padding: 7.5rem 0;
    background-image: linear-gradient( to right bottom,
    rgba(126, 213, 111, 0.801),
    rgba(40, 180, 133, 0.801) );
}
.book{
    background-image: linear-gradient(100deg, #ffffffcc 0%, #ffffffcc 50%, transparent 50%),url(nat-10.jpg);
    background-size:  cover;
    height: 45rem;
    width: 75%;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.2);
}
.book-form{
    width: 50%;
    padding: 6rem;
}
.margin-form{
    margin-bottom: 5.5rem;
}
.form-group:not(:last-child){
    margin-bottom: 2rem;
}
.form-input{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 2px;
    background-color: #ffffffcc 50%;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
}
.form-input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    border-bottom: 6px solid #7ed56f ;
}
.form-input:focus:invalid{
    border-bottom: 4px solid red;
}
.form-input::-webkit-input-placeholder{
    color: #999;
}
.form-label{ 
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

.form-input:placeholder-shown + .form-label{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3rem);
}

.form-radio{
    width: 49%;
    float: left;
    color: #999;
}

.form-radio-label{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
}
.form-radio-btn{
    height: 2rem;
    width: 2rem;
    border: 4px solid #28b485;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.3rem;
}
.form-radio-btn::after{
    height: 1rem;
    width: 1rem;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28b485;
    opacity: 0;
    transition: opacity .2s;
    
}
.form-radio-input:checked ~ .form-radio-label .form-radio-btn::after {
    opacity: 1;
}  
.form-radio-input{
    display: none;
}

.btn-booking{
    background-color: #28b485;
    color: #fff;
    margin-top: 4rem;
    text-transform: uppercase;
}
.btn-booking:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.footer{
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    padding: 10rem;
    padding-bottom: 15rem;
}
.footer-logo{
    width: 12rem;
    height: auto;
}
.footer-list{
    list-style: none;
}
.footer-item{
    display: inline-block;
}
.footer-item:not(:last-child){
    margin-right: .5rem;
    border-bottom: 0;
}
.footer-link:link,.footer-link:visited{
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}
.footer-link:hover, .footer-link:active {
    color: #28b485;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
    transform: rotate(5deg) scale(1.3);
} 
.footer-nav{
    border-top: 1px solid #fff;
    padding-top: 1rem;
    display: inline-block;
}

.copyright{
    color: #777;
    width: 80%;
    float: right;
}

.nav-bkg{ 
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 30;

    transition: transform .8s cubic-bezier(0.85,0,0.07, 1);

    
}
.nav-checkbox{
    display: none;
}
.nav-link:link, .nav-link:visited{
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    padding: 1rem 2rem;
    background-size: 230%;
    
    
    transition: all .4s;
}
.nav-link:hover,.nav-link:active{
    background-position: 100%;
    color: #28b485;
    transform: translateX(1rem);
}
.nav-link span{
margin-right: 2rem;
}

.nav-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;

}
.nav-nav{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 33;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68,-0.55,0.265, 1.55);

}
.nav-btn{
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index:34 ;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.4);
    text-align: center;
    cursor: pointer;
}

.nav-checkbox:checked ~ .nav-bkg{
    transform: scale(80);
}

.nav-checkbox:checked ~ .nav-nav{
    width: 100%;
    opacity: 1;
}
.nav-icon{
    position: relative;
    margin-top: 2.5rem;
}
.nav-icon, .nav-icon::before, .nav-icon::after  {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block;

}
.nav-icon::before, .nav-icon::after  {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}
.nav-icon::after{ top: -.6rem;}
.nav-icon::before{ top: .6rem}

.nav-btn:hover .nav-icon::before { top: -1rem;}
.nav-btn:hover .nav-icon::after { top: 1rem;}

.nav-checkbox:checked + .nav-btn .nav-icon{
    background-color: transparent;
}

.nav-checkbox:checked + .nav-btn .nav-icon::before{
    transform: rotate(135deg);
    top: 0;
}
.nav-checkbox:checked + .nav-btn .nav-icon::after {
    transform: rotate(-135deg);
    top: 0;
}

.popup{
    background-color: #333333c7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;

    opacity: 0;
    visibility: hidden;
    
    
 }
 
 .popup-close:link, .popup-close:visited {
    color: #333;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s; 
    line-height: 1;
 }
 .popup-close:hover {
     color: #ff7730;
 }

.popup-content{
    width: 75%;
    background-color: #fff;
    margin: 1rem auto;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1.3rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%), scale(.25);
}
.popup-left{
    width: 33.33%;
    display: table-cell;
   
}
.popup-right{
    width: 66.667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

}
.popup-img{
    display: block;
    width: 100%;
}
.popup-btn{
    margin: 0%;
}
.popup-text{
    font-size: 1rem;
    margin-bottom: 3rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #333;
    hyphens: auto;

}
.mgBtHSec{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.mgBtHTer{
    margin-bottom: 1.4rem;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup-content{
    transform: translate(-50%, -50%);
    opacity: 1;
}


@media (max-width:1200px) {
    body{
        font-size: 95%;
    }    
}

@media (max-width:900px) {
    body{
        font-size: 80%;
    }    
}

@media (max-width:600px) {
    body{
        font-size: 75%;
    }    
}

